.game-name {
    background-color: #00adff;
    background-image: url(../../images/bright-bubbles_header.jpg);
    background-size: cover;
    color: black;
    text-shadow: 3px 3px 0px rgba(63,107,169, 0.5);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    margin: 0;
    border-bottom: 1px solid black;
}
