body {
  /* width: 90%; */
  margin: 0 auto;
}

.container {
  max-width: 1050px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: pink;


  /* max-width: 900px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

.images {
  margin-left: 95px;
  /* text-align: center; */
  /* display:  flex; */
  /* max-width: 650px;
  margin: auto;
  padding: 0;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

/* .mainStyle {
  max-width: 750px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

img {
  margin: 20px;
  padding: 0px;
  border: 1px solid green;
  border-radius: 3px;
  height: 170px;
  width: 170px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background: #fff;
  float: left;
  cursor: pointer;
}

img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}